{% extends '@mailer/mailermail--base.html.twig' %}


{% block content_body %}
  {% trans %}
    <p>Good night!</p>
    <p>Glad to find you with this alternative template. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem/ ipsum <a href="#">non</a> dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <p>Greetings</p>
    <p>Our company name</p>
  {% endtrans %}
{% endblock content_body %}


{%  block footer_body %}

  <p><a href="https://example.com">https://example.com</a> - Our Company name.<br/>
    {{ 'Contact' | t  }}: Examplestreet 200, 9000 Gent, mail@example.com,<br/>{{ 'VAT' | t }}: BE 0999.999.999</p>
  <p><a href="https://example.com/termsofuse">{{ 'Terms of use' | t }}</a><a href="https://example.com/privacyagreement">{{ 'Privacy agreenment' | t }}</a>.</p>

{% endblock footer_body %}
