<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {% block title %}
  <title>{{ config.title }}</title>
  {% endblock title %}

  {% block style %}
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
    }

    body {
      background-color: #f3f3f3;
    }

    img {
      max-width: 100%;
    }

    p, ul {
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1d1d1b;
    }

    .mail--header p, ul {
      font-size: 13px;
    }

    .mail--footer p, ul {
      font-size: 14px;
    }

    table p:last-child {
      margin-bottom: 0;
    }

    ul li {
      margin-left: 5px;
      list-style-position: inside;
    }

    a {
      color: #018e92;
      font-weight: bold;
    }

    .logo {
      padding-bottom: 25px;
      margin-bottom: 25px;
      text-align: center;
      border-bottom: 1px solid #e5e5e5;
    }
  </style>
  {% endblock style %}

</head>

<body>
<!-- HEADER -->
{% block header %}
<table class="mail--header" style="width: 100%">
  <tr>
    <td>
      {% block header_body %}
      <div style="padding: 10px 0; max-width: 600px; margin: 0 auto; display: block;">
        <p>{{ config.title }}</p>
      </div>
      {% endblock header_body %}
    </td>
  </tr>
</table>
{% endblock header %}
<!-- /HEADER -->
<!-- BODY -->
{% block content %}
<table class="mail--content" style="width: 100%">
  <tr>
    <td>
      <div>
        <table style="padding: 30px; max-width: 540px; margin: 0 auto; display: block; background-color: #fff;">
          <tr>
            <td>
              {% block content_logo %}
              <div class="logo">
                <a href="{{  config.frontPageUrl  }}"><img src="{{ config.siteLogo }}" /></a>
              </div>
              {% endblock content_logo %}
            </td>
          </tr>
          <tr>
            <td>
              {% block content_body %}
                {{  config.message }}
              {% endblock content_body %}
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
{% endblock content %}
<!-- /BODY -->
<!-- FOOTER -->
{% block footer %}
<table class="mail--footer" style="width: 100%;">
  <tr>
    <td>
      <div>
        <table style="padding: 10px 0; max-width: 600px; margin: 0 auto; display: block;">
          <tr>
            <td>
              {% block footer_body %}

              {% endblock footer_body %}
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
{% endblock footer %}
<!-- /FOOTER -->
</body>
</html>
